---
title: Le Wagon - Middleman
---
<!-- the banner's html should be directly in the page because it doesn't need to be reused exactely the same way -->
<%= partial "layouts/banner" %>
<div class="container">
  <%= partial "layouts/cards" %>
</div>
<!-- <div id="home">
  <div class="home-content">

  </div>
</div> -->
